@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-success"> Opening sale! 0% off select products</div>

<h1 class="display-1"> Welcome to WeCommerce</h1>
<h3 class="text-muted">Selling only the most premium products since 2024</h3>


<h2 class="display-2">Featured products</h2>

<div class="d-flex">
    <div class="card" style="width: 18rem;">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">Featured Product 1 <span class="badge text-bg-success">SALE</span></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <span class="text-decoration-line-through">$5.00</span> $5.00
            </h6>
            <p class="card-text">Lorum Ipsum</p>
            <a href="#" class="btn btn-primary">View Product</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">Featured Product 2 <span class="badge text-bg-success">SALE</span></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
                <span class="text-decoration-line-through">$29.99</span> $29.99
            </h6>
            <p class="card-text">Lorum Ipsum</p>
            <a href="#" class="btn btn-primary">View Product</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://placehold.co/600x400" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">Featured Product 3</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">$19.99</h6>
            <p class="card-text">Lorum Ipsum</p>
            <a href="#" class="btn btn-primary">View Product</a>
        </div>
    </div>

</div>