@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1"> Welcome to WeCommerce</h1>
<h3 class="text-muted">Selling only the most premium products since 2024</h3>

<a asp-action="Index" asp-controller="Products">See our great products!</a>