@model UserChangePassword

@{
    ViewData["Title"] = "Change Password";
}

<h1 class="display-1">Change Password</h1>
<p> You are required to change your password to continue </p>


<div class="row">
    <div class="col-md-4">
        <form asp-action="ForceChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

